---
import "../lib/styles/app.css";

import i18next, { t } from "i18next";

export interface Props {
  title: string;
  description?: string;
}

const {
  title,
  description = "The convenience of a centralized exchange order book system combined with the freedom of decentralization. Easy for beginners, more powerful for experts.",
} = Astro.props;
---

<!doctype html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Pretendard:wght@400;500;600;700;800&family=Inter:wght@400;500;600;700;800&family=Epilogue:wght@400;500;600;700;800&family=Nunito:wght@400;500;600;700;800&family=Prompt:wght@400;500;600;700;800&family=Bitter:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&family=Urbanist:wght@400;500;600;700;800&family=Play:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="min-h-screen bg-aden-dark text-aden-text-primary">
    <slot />
  </body>
</html>
